.initialForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  margin-bottom: 1rem;
}

.formInput {
  width: 70%;
  padding-inline: 1rem;
}

.formBtn {
  margin: 0.5rem auto;
  background-color: #6b6dd7;
  color: #ffffff;
}

.formBtn:hover {
  background-color: #4e4fa1;
}
