.totalDebtSection {
  background-color: #6b6dd7;
  color: #ffffff;
  padding: 2rem 5rem;
  /* width: 80%; */
}

.sectionHeader {
  margin: 0;
  font-weight: 400;
  font-size: 1.7rem;
}

.totalDebt {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}
